<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Fullform</title>
</head>
<body>
<center>
    <h1> Formumlarz pełny (uwzględniający typ obiektu) </h1>
<form action="#" th:action="@{/fullform}" th:object="${personObject}" method="post">

    <p>Imie: <input type="text" th:field="*{name}">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" >
            Błąd w polu imie
        </span>
    </p>

    <p>Nazwisko: <input type="text" th:field="*{lastname}"></p>
    <p>Wiek: <input type="number" th:field="*{age}"></p>
    <p>Number: <input type="text" th:field="*{number}"></p>
    <p>E-mail: <input type="email" th:field="*{email}"></p>
    <p><button type="submit"> Wyslij </button> </p>

</form>



</center>
</body>
</html>