<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Strona główna apki web</title>
</head>
<body>

<center>
<h1>Nagłówek z pliku html ktory zwracamany jest dla zapytań HTTP GET pod adresem localhost/ </h1>
<p> poniższy komunikat powstaje w ramach IFa działającego w html</p>
<p th:text="${danazKontrolera == 'B'} ? 'Jest przed 16' : 'jest po 16' "></p>

<h1>Formularz 1 ktorym pozyskujemy dane bez uwzględnienia obiektu </h1>


<form action="#" th:action="@{/data}" method="post">
    <p><input type="text" th:name="name"/></p>
    <p><input type="submit" value="Submit"/>
</form>



<h1>Formularz 2 ktorym pozyskujemy dane bez uwzględnienia obiektu </h1>
<form action="#" th:action="@{/data2}" method="post">
    <p>Podaj imie </p>
    <p>Imie<input type="text" th:name="imie"/></p>
    <p>Podaj nazwisko </p>
    <p>Nazwisko<input type="text" th:name="nazwisko"/></p>
    <p>Podaj wiek</p>
    <p>Wiek<input type="number" th:name="wiek"/></p>
    <p><input type="submit" value="Submit"/>
</form>
</center>

</body>
</html>